.card {
  --height-multiplier: 1.4;
  --width-xs: 100px;
  --width-s: 150px;
  --width-m: 200px;
  --width-l: 250px;
  --width-xl: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4de9f;
  margin-bottom: var(--base-spacing);
  border-radius: var(--base-spacing);
  box-sizing: border-box;
}

.card.size-xs {
  width: var(--width-xs);
  height: calc(var(--height-multiplier) * var(--width-xs));
}

.card.size-s {
  width: var(--width-s);
  height: calc(var(--height-multiplier) * var(--width-s));
}

.card.size-m {
  width: var(--width-m);
  height: calc(var(--height-multiplier) * var(--width-m));
}

.card.size-l {
  width: var(--width-l);
  height: calc(var(--height-multiplier) * var(--width-l));
}

.card.size-xl {
  width: var(--width-xl);
  height: calc(var(--height-multiplier) * var(--width-xl));
}

.card.character-unknown {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:not(.character-unknown) {
  padding: calc(var(--base-spacing) * 2);
}

.card img.card-back {
  width: 70%;
  height: auto;
}

.card span.medieval {
  font-size: 1.2rem;
  font-family: var(--font-medieval);
}
